.cube-xxs {
    transform-style: preserve-3d;
    margin: 200px;
    /* -webkit-animation: ; */
    animation: spin 3s infinite cubic-bezier(.39, .84, .68, .27);
    position: relative;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 10%;
    margin-left: -50px;
    margin-top: -50px;
}

.cube-xxs div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.603);
    background: rgba(77, 44, 0, 0.315);
    display: block;
    position: absolute;
}


.cube-xxs div.top {
    transform: rotateX(90deg);
    margin-top: -25px;
}

.cube-xxs div.right {
    transform: rotateY(90deg);
    margin-left: 25px;
}

.cube-xxs div.bottom {
    transform: rotateX(-90deg);
    margin-top: 25px;
}

.cube-xxs div.left {
    transform: rotateY(-90deg);
    margin-left: -25px;
}

.cube-xxs div.front {
    transform: translateZ(25px);
}

.cube-xxs div.back {
    transform: translateZ(-25px) rotateX(180deg);
}



.cube-xs {
    transform-style: preserve-3d;
    margin: 200px;
    /* -webkit-animation: ; */
    animation: spin 3s infinite cubic-bezier(.39, .84, .68, .27);
    position: relative;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 10%;
    margin-left: -50px;
    margin-top: -50px;
}

.cube-xs div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.603);
    background: rgba(77, 44, 0, 0.315);
    display: block;
    position: absolute;
}


.cube-xs div.top {
    transform: rotateX(90deg);
    margin-top: -50px;
}

.cube-xs div.right {
    transform: rotateY(90deg);
    margin-left: 50px;
}

.cube-xs div.bottom {
    transform: rotateX(-90deg);
    margin-top: 50px;
}

.cube-xs div.left {
    transform: rotateY(-90deg);
    margin-left: -50px;
}

.cube-xs div.front {
    transform: translateZ(50px);
}

.cube-xs div.back {
    transform: translateZ(-50px) rotateX(180deg);
}

.cube {
    transform-style: preserve-3d;
    margin: 200px;
    animation: spin 3s infinite cubic-bezier(.39, .84, .68, .27);
    position: relative;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 10%;
    margin-left: -50px;
    margin-top: -50px;
}


.cube div {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.603);
    background: rgba(77, 44, 0, 0.315);
    display: block;
    position: absolute;
}

.cube div.top {
    transform: rotateX(90deg);
    margin-top: -100px;
}

.cube div.right {
    transform: rotateY(90deg);
    margin-left: 100px;
}

.cube div.bottom {
    transform: rotateX(-90deg);
    margin-top: 100px;
}

.cube div.left {
    transform: rotateY(-90deg);
    margin-left: -100px;
}

.cube div.front {
    transform: translateZ(100px);
}

.cube div.back {
    transform: translateZ(-100px) rotateX(180deg);
}

@keyframes spin {
    0% {
        -webkit-transform: rotateX(-45deg) rotateY(45deg);
    }

    100% {
        -webkit-transform: rotateX(-45deg) rotateY(765deg);
    }
}